{% extends "base.html" %}
{% block jumbotron %}
    <center><h3>Get results from Google, Bing and Duckduckgo search engine, evaluate them and calculate MAP (Mean Average Precision)</h3></center>
    <br><br><br>
    <form class="form" action="/task501" method="POST">
        <div class="input-group">
            <input type="text" name="search_query" class="form-control search_query" placeholder="Search for..." required>
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit" onclick="loader()">Go!</button>
            </span>
        </div>
    </form>
{% endblock%}
{% block results %}
    <div class="row">
        <div class="col-lg-4">
            <div class="panel panel-danger">
                <div class="panel-heading"><center>Google</center></div>
                <div class="panel-body">
                    <b>URL</b>:
                    <br>
                    <a style="word-wrap:break-word;" href="{{ results.google_result.url}}">{{ results.google_result.url}}</a><br><br>
                    <b>CONTENT</b>:
                    <br>
                    {{ results.google_result.content }}
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="panel panel-warning">
                <div class="panel-heading"><center>Bing</center></div>
                <div class="panel-body">
                    <b>URL</b>:
                    <br>
                    <a style="word-wrap:break-word;" href="{{ results.google_result.url}}">{{ results.google_result.url}}</a><br><br>
                    <b>CONTENT</b>:
                    <br>
                    {{ results.google_result.content }}
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="panel panel-info">
                <div class="panel-heading"><center>Duckduckgo</center></div>
                <div class="panel-body">
                    <b>URL</b>:
                    <br>
                    <a style="word-wrap:break-word;" href="{{ results.duckduckgo_result.url}}">{{ results.duckduckgo_result.url}}</a><br><br>
                    <b>CONTENT</b>:
                    <br>
                    {{ results.duckduckgo_result.content }}
                </div>
            </div>
        </div>
    </div>
    <form class="form" action="/relevant" method="POST">
        <div class="row">
            <div class="col-lg-4">
                <div class="checkbox">
                  <center><input type="checkbox" data-toggle="toggle" name="google_relevant" data-on="Relevant" data-off="Not Relevant"></center>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="checkbox">
                  <center><input type="checkbox" data-toggle="toggle" name="bing_relevant" data-on="Relevant" data-off="Not Relevant"></center>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="checkbox">
                  <center><input type="checkbox" data-toggle="toggle" name="duckduckgo_relevant" data-on="Relevant" data-off="Not Relevant"></center>
                </div>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-lg-10"></div>
            <div class="col-lg-2">
                <input type="submit" class="btn btn-info" value="Update">
            </div>
        </div>
    </form>
{% endblock%}

{% block relevant_results %}
<div class="col-lg-2" style={% if results %}"margin-top: -26%; margin-left: 80%; "{% else %}"margin-top: -2%; margin-left: 80%; "{% endif %}>
    <div class="panel panel-primary">
        <div class="panel-heading"><center>Mean Average Precision</center></div>
        <div class="panel-body">
            <b>Google: </b>{{map_results.google_relevant}}<br>
            <b>Bing: </b>{{map_results.bing_relevant}}<br>
            <b>DuckDuckGo: </b>{{map_results.duckduckgo_relevant}}<br>
        </div>
    </div>
</div>
{% endblock %}