{% extends "base.html" %}
{% block jumbotron %}
	<center><h3>Is this interesting?</h3></center>
	<br>
	<div class="row">
		<form class="form" action="/choose/interesting/{{not_interested.id}}" method="POST">
			<div class="col-md-3"></div>
			<div class="col-md-6" style="background-color: #fff">
				<center>
				{{not_interested.phrase}}
				<br><br>
				{{not_interested.url}}
				<br><br>
				{{not_interested.content}}
				<br><br>
				<button class="btn btn-success yes_answer" id="yes_answer" type="submit">Yes</button>
		</form>
<button class="btn btn-danger no_answer" id="no_answer" type="button" onclick="data_delete('/choose/interesting/{{not_interested.id}}', '/choose/interesting')">No</button>
<br>
</center>
</div>
<div class="col-md-3"></div>
{% endblock%}